@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --BGcolor: #f2edeb;
  --FGcolor: #fabc2a;
  --circle: #61d095;
  --cross: #f05365;
  --FONT: #333;
  --FontFamily: 'Ubuntu', sans-serif;
}
body {
  background: var(--BGcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10vmin;
}

h1 {
  font-family: var(--FontFamily);
  font-size: 10vw;
  color: var(--FONT);
  white-space: nowrap;
  flex-shrink: 1;
}
main {
  height: 70vmin;
  width: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  font-family: var(--FontFamily);
  justify-content: center;
  align-self: center;
  font-size: 10vmin;
  height: 20vmin;
  width: 20vmin;
  background-color: white;
  border-radius: 0.5rem;
  border: none;
}
.reset-btn {
  font-family: var(--FontFamily);
  height: 10vmin;
  width: 70vmin;
  font-size: 2rem;
  border-radius: 1rem;
  color: whitesmoke;
  background-color: #333;
  margin-bottom: 2rem;
}
.cross {
  background-color: var(--cross);
  color: var(--FONT);
  box-shadow: 0 4px 12px #333;
}
.circle {
  color: var(--FONT);
  background-color: var(--circle);
  box-shadow: 0 4px 12px #333;
}
.msg {
  font-family: var(--FontFamily);
  font-size: 2rem;
  color: var(--FGcolor);
  white-space: nowrap;
}
.hide {
  display: none;
}
.playAgain {
  background-color: var(--FGcolor);
  color: #333;
}
